<h1><%= @server.name %></h1>

<ul>
  <li><%= link_to 'Steam Group', @server.steam_group_url %></li>
  <li><%= link_to 'Join via Steam',
                  "steam://connect/#{@server.domain}:#{@server.port}" %></li>
  <li><%= link_to 'Talk with us on Mumble',
                  "mumble://#{@server.mumble_domain}:#{@server.mumble_port}/#{@server.mumble_channel}" %></li>
</ul>

<div>
  <%= render_markdown @server.description %>
</div>



